<a href="https://colab.research.google.com/github/statenandrea33/Staten_GEOG312_Lab3/blob/main/Lab_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/master/labs/lab_03.ipynb)
[![image](https://binder.pangeo.io/badge_logo.svg)](https://gishub.org/geog312-pangeo)

**Andrea Staten**

In [1]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

Submitted time: 2023-09-25 00:42:59.436808

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [2]:
pizzas = ['cheese', 'hawaiian', 'veggie']
for pizza in pizzas:
    print(f"I would love a {pizza} pizza right now.")
    print(f"Andrea, will you order us a {pizza} pizza?\n")

I would love a cheese pizza right now.
Andrea, will you order us a cheese pizza?

I would love a hawaiian pizza right now.
Andrea, will you order us a hawaiian pizza?

I would love a veggie pizza right now.
Andrea, will you order us a veggie pizza?

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [3]:
pizzas = ['cheese', 'hawaiian', 'veggie']
for pizza in pizzas:
    print(f"I would love a {pizza} pizza right now.")
    print(f"Andrea, will you order us a {pizza} pizza?\n")

print("Of course I'll order the pizza, I love pizza!")

I would love a cheese pizza right now.
Andrea, will you order us a cheese pizza?

I would love a hawaiian pizza right now.
Andrea, will you order us a hawaiian pizza?

I would love a veggie pizza right now.
Andrea, will you order us a veggie pizza?

Of course I'll order the pizza, I love pizza!

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [4]:
animals = ['zebras', 'giraffes', 'dogs']
for animal in animals:
    print(f"{animal}\n")
for animal in animals:
    print(f"I love {animal}, do you?\n")

zebras

giraffes

dogs

I love zebras, do you?

I love giraffes, do you?

I love dogs, do you?

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [5]:
animals = ['zebras', 'giraffes', 'dogs']
for animal in animals:
    print(f"{animal}\n")
for animal in animals:
    print(f"I love {animal}, do you?\n")

print("All of these animals have one thing in common, they all have a tail!")

zebras

giraffes

dogs

I love zebras, do you?

I love giraffes, do you?

I love dogs, do you?

All of these animals have one thing in common, they all have a tail!

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [6]:
numbers = list(range(1,21))
for value in numbers:
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [7]:
numbers = list(range(1, 101))
for value in numbers:
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [8]:
numbers = list(range(1, 101))
print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1
100
5050

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [9]:
odd_numbers = list(range(1,21,2))
for value in odd_numbers:
    print(value)

1
3
5
7
9
11
13
15
17
19

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [10]:
multiples = list(range(3,31,3))
for value in multiples:
    print(value)

3
6
9
12
15
18
21
24
27
30

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [11]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [12]:
cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [13]:
numbers = list(range(1, 101))

for number in numbers[:3]:
  print(f"The first three items in the list are: {number}.")

The first three items in the list are: 1.
The first three items in the list are: 2.
The first three items in the list are: 3.

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [14]:
numbers = list(range(1, 101))

for number in numbers[48:51]:
  print(f"Three items from the middle of the list are: {number}.")

Three items from the middle of the list are: 49.
Three items from the middle of the list are: 50.
Three items from the middle of the list are: 51.

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [15]:
numbers = list(range(1, 101))

for number in numbers[-3:]:
  print(f"The last three items in the list are: {number}.")

The last three items in the list are: 98.
The last three items in the list are: 99.
The last three items in the list are: 100.

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [16]:
pizzas = ['cheese', 'hawaiian', 'veggie']
friend_pizzas = pizzas[:]

pizzas.append('supreme')
print(pizzas)

['cheese', 'hawaiian', 'veggie', 'supreme']

Add a different pizza to the list `friend_pizzas`.

In [17]:
friend_pizzas.append('pepperoni')
print(friend_pizzas)

['cheese', 'hawaiian', 'veggie', 'pepperoni']

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [18]:
for pizza in pizzas:
  print(f"My favorite pizzas are: {pizza}.")

for friend_pizza in friend_pizzas:
  print(f"My friend's favorite pizzas are: {friend_pizza}.")

My favorite pizzas are: cheese.
My favorite pizzas are: hawaiian.
My favorite pizzas are: veggie.
My favorite pizzas are: supreme.
My friend's favorite pizzas are: cheese.
My friend's favorite pizzas are: hawaiian.
My friend's favorite pizzas are: veggie.
My friend's favorite pizzas are: pepperoni.

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [19]:
buffet_food = ("fried chicken", "pizza", "hamburgers", "salads", "ice cream")
for buffet_foods in buffet_food:
    print(buffet_foods)

fried chicken
pizza
hamburgers
salads
ice cream

Try to modify one of the items, and make sure that Python rejects the change.

In [20]:
buffet_food[0] = 'french fries'

TypeError: ignored

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [21]:
buffet_food = ("fried chicken", "pizza", "hamburgers", "salads", "ice cream")
print("Original Menu:")
for buffet_foods in buffet_food:
    print(buffet_foods)

buffet_food = ("hamburgers", "fried chicken", "bbq", "pasta", "ice cream")
print("\nNew Menu:")
for buffet_foods in buffet_food:
    print(buffet_foods)

Original Menu:
fried chicken
pizza
hamburgers
salads
ice cream

New Menu:
hamburgers
fried chicken
bbq
pasta
ice cream